.button {
    -fx-background-color: 
        #eee,
        #000000,
        linear-gradient(#666, #444);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.button:hover {
  -fx-background-color:
        #eee,
        #000000,
        linear-gradient(#444, #666);
}

.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.subButton {
	-fx-font-size: 15px;
}

.settingsBack {
	-fx-background-color: #888;
}

.settingsPopup {
	-fx-background-color: #ccc;
}

.table-view {
	-fx-background-color: transparent;
	-fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;

    -fx-control-inner-background: #eee;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-row-cell:current {
	-fx-background-color: #0c3;
}
