/*.table-view {
    -fx-base: transparent;
    z-index: 
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 1;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 10pt;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}*/

.table-view {
	-fx-background-color: transparent;
	-fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;

    -fx-control-inner-background: #eee;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.editBox {
	-fx-background-color: #ddd
}
